@{
    ViewData["Title"] = "Pnr";
}


<form class="form-signin" asp-action="Search" method="get">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">bTicket</h1>
        <p>Pnr Ara.</p>
    </div>

    <div class="form-label-group">
        <label for="pnr">Pnr</label>
        <input type="text" id="pnr" class="form-control" placeholder="Pnr" name="pnr">
    </div>

    <hr />
    <div class="form-label-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ara</button>
    </div>

</form>


